{
  "openapi": "3.1.0",
  "info": {
    "title": "Cuna API",
    "version": "1.7.0",
    "description": "Authoritative Cuna control-plane contract. JSON responses are UTF-8, redirects are not API successes, and x-sdk-exposed defaults to false."
  },
  "servers": [
    {
      "url": "https://api.getcuna.com"
    }
  ],
  "security": [
    {
      "SupabaseJwt": []
    },
    {
      "RunaApiKey": []
    }
  ],
  "paths": {
    "/v1/me": {
      "get": {
        "operationId": "me.get",
        "x-sdk-exposed": true,
        "responses": {
          "200": {
            "description": "Caller profile and workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "account:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/capabilities": {
      "get": {
        "operationId": "capabilities.get",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "enum": [
                "account",
                "machine",
                "agent_session"
              ]
            }
          },
          {
            "name": "resource_id",
            "in": "query",
            "required": false,
            "description": "Required for machine and agent_session scopes; forbidden for account scope.",
            "schema": {
              "$ref": "#/components/schemas/Uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fresh authenticated capability snapshot. Discovery does not authorize a mutation.",
            "headers": {
              "ETag": {
                "description": "Quoted digest of the capability semantics and subject.",
                "schema": {
                  "type": "string",
                  "pattern": "^\"[0-9a-f]{64}\"$"
                }
              },
              "Cache-Control": {
                "description": "Private cache lease bounded by expires_at.",
                "schema": {
                  "type": "string",
                  "pattern": "^private, max-age=(?:[0-9]|[12][0-9]|30), must-revalidate$"
                }
              },
              "Vary": {
                "description": "Capability evidence is authentication- and CORS-origin dependent.",
                "schema": {
                  "type": "string",
                  "pattern": "^(?:Authorization, Origin|Origin, Authorization)$"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilitySnapshot"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "account:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/sessions": {
      "get": {
        "operationId": "sessions.list",
        "x-sdk-exposed": true,
        "responses": {
          "200": {
            "description": "Owned sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Session"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "machines:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      },
      "post": {
        "operationId": "sessions.create",
        "x-sdk-exposed": true,
        "x-sdk-request-schema": {
          "$ref": "#/components/schemas/SdkCreateSession"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/ConsoleCreateSession"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Completed session observation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "machines:create"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/MachineCreateRequestId"
          }
        ],
        "x-runa-error-model": "problem"
      }
    },
    "/v1/sessions/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "get": {
        "operationId": "sessions.get",
        "x-sdk-exposed": true,
        "responses": {
          "200": {
            "description": "Owned session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "machines:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      },
      "delete": {
        "operationId": "sessions.delete",
        "x-sdk-exposed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "machines:delete"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/sessions/{id}/agent-auth": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "get": {
        "operationId": "sessions.agentAuth",
        "deprecated": true,
        "x-sdk-exposed": true,
        "description": "Deprecated machine-scoped alias of `agentSessions.agentAuth`. It remains published so already-released SDKs keep working; new callers SHALL use `GET /v1/agent-sessions/{id}/agent-auth`, which reports the exact AgentSession process generation.",
        "responses": {
          "200": {
            "description": "Low-information agent authentication state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentAuth"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "machines:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/sessions/{id}/agent-sessions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "get": {
        "operationId": "agentSessions.list",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor returned by the preceding page.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded page of owned AgentSessions for one owned Machine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSessionPage"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "agent_sessions:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      },
      "post": {
        "operationId": "agentSessions.create",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/AgentSessionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Durable launch intent. process_state remains unknown until a leased supervisor acknowledgement.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSession"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "agent_sessions:create"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/agent-session-creates": {
      "get": {
        "operationId": "agentSessions.inspectCreate",
        "x-sdk-exposed": false,
        "x-runa-error-model": "problem",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Exact durable AgentSession create intent recovered with the original user-scoped idempotency key.",
            "headers": {
              "Cache-Control": {
                "description": "Recovery evidence is never reusable through an HTTP cache.",
                "schema": {
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSession"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "agent_sessions:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/agent-sessions/{id}/agent-auth": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AgentSessionId"
        }
      ],
      "get": {
        "operationId": "agentSessions.agentAuth",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "responses": {
      "200": {
        "description": "Low-information authentication state for the exact owned AgentSession process generation.",
        "headers": {
          "Cache-Control": {
            "description": "Authentication evidence is never reusable through an HTTP cache.",
            "schema": {
              "const": "no-store"
            }
          }
        },
        "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSessionAuth"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "agent_sessions:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/agent-sessions/{id}/agent-auth/logout": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AgentSessionId"
        }
      ],
      "post": {
        "operationId": "agentSessions.logoutAgentAuth",
        "x-sdk-exposed": false,
        "x-runa-error-model": "problem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "process_epoch"
                ],
                "properties": {
                  "process_epoch": {
                    "$ref": "#/components/schemas/Uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation that provider credentials were removed from the exact current AgentSession process generation.",
            "headers": {
              "Cache-Control": {
                "description": "Provider sign-out results are never reusable through an HTTP cache.",
                "schema": {
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSessionAuthLogout"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "agent_sessions:update",
          "auth:interactive"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/agent-sessions/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AgentSessionId"
        }
      ],
      "get": {
        "operationId": "agentSessions.get",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "responses": {
          "200": {
            "description": "Owned AgentSession intent and runtime observation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSession"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "agent_sessions:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      },
      "patch": {
        "operationId": "agentSessions.rename",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/AgentSessionRename"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Renamed AgentSession metadata; process facts are unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSession"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "agent_sessions:update"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/agent-sessions/{id}/terminate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AgentSessionId"
        }
      ],
      "post": {
        "operationId": "agentSessions.terminate",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "responses": {
          "200": {
            "description": "Durable termination intent. Success does not assert process absence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSession"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "agent_sessions:terminate"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/agent-sessions/{id}/terminal-connections": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AgentSessionId"
        }
      ],
      "post": {
        "operationId": "agentSessions.createTerminalConnection",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "x-runa-problem-codes": [
          "resource_not_found",
          "machine_not_running",
          "agent_session_not_ready",
          "terminal_connection_idempotency_conflict",
          "invalid_terminal_connection_request",
          "terminal_connection_authority_unavailable"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/TerminalConnectionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Short-lived Cuna terminal connection grant. The one-use connect token is returned separately and is never embedded in the URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TerminalConnectionGrant"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "terminal_connections:create"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/cli-auth/bootstrap": {
      "get": {
        "operationId": "humanAuth.bootstrap",
        "x-sdk-exposed": false,
        "x-runa-error-model": "problem",
        "security": [],
        "responses": {
          "200": {
            "description": "Non-secret fail-closed CLI sign-in bootstrap metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliAuthBootstrap"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [],
        "x-runa-required-permissions": []
      }
    },
    "/v1/cli-auth/signup-capability": {
      "get": {
        "operationId": "humanAuth.signupCapability",
        "x-sdk-exposed": false,
        "x-runa-error-model": "problem",
        "security": [],
        "responses": {
          "200": {
            "description": "Fail-closed self-service signup capability. Enabled signup is always waitlist-only.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliSignupCapability"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [],
        "x-runa-required-permissions": []
      }
    },
    "/v1/cli-auth/continuations": {
      "post": {
        "operationId": "humanAuth.createContinuation",
        "x-sdk-exposed": false,
        "x-runa-error-model": "problem",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/CliContinuationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Short-lived browser continuation. Secret material is returned only in this response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliContinuationIssued"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [],
        "x-runa-required-permissions": []
      }
    },
    "/v1/cli-auth/continuations/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CliContinuationId"
        },
        {
          "$ref": "#/components/parameters/CliContinuationSecret"
        }
      ],
      "get": {
        "operationId": "humanAuth.getContinuation",
        "x-sdk-exposed": false,
        "x-runa-error-model": "problem",
        "security": [],
        "responses": {
          "200": {
            "description": "Bounded authoritative onboarding status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliContinuationStatus"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [],
        "x-runa-required-permissions": []
      }
    },
    "/v1/cli-auth/continuations/{id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CliContinuationId"
        },
        {
          "$ref": "#/components/parameters/CliContinuationSecret"
        }
      ],
      "post": {
        "operationId": "humanAuth.cancelContinuation",
        "x-sdk-exposed": false,
        "x-runa-error-model": "problem",
        "security": [],
        "responses": {
          "200": {
            "description": "Cancelled continuation; no renewable credential or cloud resource is created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliContinuationStatus"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [],
        "x-runa-required-permissions": []
      }
    },
    "/v1/cli-auth/continuations/{id}/browser-cancel": {
      "post": {
        "operationId": "humanAuth.cancelContinuationBrowser",
        "x-sdk-exposed": false,
        "x-runa-error-model": "problem",
        "x-runa-auth-classes": [
          "browser_jwt"
        ],
        "x-runa-required-permissions": [
          "auth:interactive"
        ],
        "security": [
          {
            "SupabaseJwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/CliContinuationBrowserCancel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Browser-authorized cancellation bound to the one-shot nonce and state proof.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliContinuationStatus"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/v1/cli-auth/continuations/{id}/complete": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CliContinuationId"
        }
      ],
      "post": {
        "operationId": "humanAuth.completeContinuation",
        "x-sdk-exposed": false,
        "x-runa-error-model": "problem",
        "security": [
          {
            "SupabaseJwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/CliContinuationComplete"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Browser identity bound; this is not token exchange or readiness proof.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliContinuationStatus"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt"
        ],
        "x-runa-required-permissions": [
          "auth:interactive"
        ]
      }
    },
    "/v1/cli-auth/continuations/{id}/exchange": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CliContinuationId"
        }
      ],
      "post": {
        "operationId": "humanAuth.exchangeContinuation",
        "x-sdk-exposed": false,
        "x-runa-error-model": "problem",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/CliContinuationExchange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One-time PKCE exchange after current identity, admission, workspace and terms proof.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliTokenSet"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [],
        "x-runa-required-permissions": []
      }
    },
    "/v1/cli-auth/refresh": {
      "post": {
        "operationId": "humanAuth.refresh",
        "x-sdk-exposed": false,
        "x-runa-error-model": "problem",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/CliRefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rotated token family; identical concurrent retries coalesce for 30 seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliTokenSet"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [],
        "x-runa-required-permissions": []
      }
    },
    "/v1/cli-auth/logout": {
      "post": {
        "operationId": "humanAuth.logout",
        "x-sdk-exposed": false,
        "x-runa-error-model": "problem",
        "security": [
          {
            "RunaHumanBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current CLI token family revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "revoked"
                  ],
                  "properties": {
                    "revoked": {
                      "const": true
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "auth:interactive"
        ]
      }
    },
    "/v1/cli-auth/context": {
      "get": {
        "operationId": "humanAuth.context",
        "x-sdk-exposed": false,
        "x-runa-error-model": "problem",
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaHumanBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current separate identity, admission and auto-assigned workspace state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliIdentityContext"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "account:read"
        ]
      }
    },
    "/v1/sessions/{id}/pause": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "post": {
        "operationId": "sessions.pause",
        "x-sdk-exposed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Session"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "machines:update"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/sessions/{id}/resume": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "post": {
        "operationId": "sessions.resume",
        "x-sdk-exposed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Session"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "machines:update"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/sessions/{id}/stop": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "post": {
        "operationId": "sessions.stop",
        "x-sdk-exposed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Session"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "machines:update"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/sessions/{id}/start": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "post": {
        "operationId": "sessions.start",
        "x-sdk-exposed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Session"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "machines:update"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/sessions/{id}/exec": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "post": {
        "operationId": "sessions.exec",
        "x-sdk-exposed": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/ExecRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Buffered command result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "machines:exec"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/sessions/{id}/checkpoint": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "post": {
        "operationId": "sessions.checkpoint",
        "x-sdk-exposed": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/CheckpointRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "machines:checkpoint"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/sessions/{id}/open": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "post": {
        "operationId": "sessions.open",
        "x-sdk-exposed": true,
        "responses": {
          "200": {
            "description": "Single-use 60-second handoff capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key"
        ],
        "x-runa-required-permissions": [
          "machines:connect"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          }
        ]
      }
    },
    "/v1/records": {
      "get": {
        "operationId": "records.list",
        "x-sdk-exposed": true,
        "responses": {
          "200": {
            "description": "Owned record entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Record"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "records:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/api-keys": {
      "security": [
        {
          "SupabaseJwt": []
        }
      ],
      "get": {
        "operationId": "apiKeys.list",
        "x-sdk-exposed": false,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "api_keys:manage",
          "auth:interactive"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      },
      "post": {
        "operationId": "apiKeys.create",
        "x-sdk-exposed": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Json"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "api_keys:manage",
          "auth:interactive"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/api-keys/{id}": {
      "security": [
        {
          "SupabaseJwt": []
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "delete": {
        "operationId": "apiKeys.delete",
        "x-sdk-exposed": false,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "api_keys:manage",
          "auth:interactive"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/sessions/{id}/token-analyze": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "get": {
        "operationId": "console.sessionTokenAnalyze",
        "x-sdk-exposed": false,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "run_inspector:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/token-analyze": {
      "get": {
        "operationId": "console.tokenAnalyze",
        "x-sdk-exposed": false,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "run_inspector:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/credentials": {
      "get": {
        "operationId": "console.credentials.list",
        "x-sdk-exposed": false,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "credentials:manage"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/credentials/{name}": {
      "put": {
        "operationId": "console.credentials.put",
        "x-sdk-exposed": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/CredentialValue"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "credentials:manage"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      },
      "delete": {
        "operationId": "console.credentials.delete",
        "x-sdk-exposed": false,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "credentials:manage"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/credential-rules": {
      "get": {
        "operationId": "console.credentialRules.list",
        "x-sdk-exposed": false,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "credentials:manage"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      },
      "post": {
        "operationId": "console.credentialRules.create",
        "x-sdk-exposed": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/CredentialRule"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Json"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "credentials:manage"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/credential-rules/{id}": {
      "delete": {
        "operationId": "console.credentialRules.delete",
        "x-sdk-exposed": false,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ok"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "credentials:manage"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/sessions/{id}/authorizations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "get": {
        "operationId": "console.sessionAuthorizations.list",
        "x-sdk-exposed": false,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "authorizations:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/workspace-bindings": {
      "post": {
        "operationId": "workspaceBindings.create",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "x-runa-problem-codes": [
          "workspace_binding_unavailable",
          "workspace_binding_idempotency_conflict",
          "workspace_binding_prerequisite_incomplete",
          "workspace_binding_invalid_request",
          "workspace_binding_authority_unavailable"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceBindingCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created, replayed, or exactly adopted canonical workspace binding",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceBinding"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "workspace_sync:write"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/workspace-bindings/{binding_id}": {
      "parameters": [
        {
          "name": "binding_id",
          "in": "path",
          "required": true,
          "description": "Opaque canonical WorkspaceBinding identifier.",
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "get": {
        "operationId": "workspaceBindings.get",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "x-runa-problem-codes": [
          "workspace_binding_unavailable",
          "workspace_binding_prerequisite_incomplete",
          "workspace_binding_invalid_request",
          "workspace_binding_authority_unavailable"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "description": "Public workspace identifier. Authorization is resolved server-side for the authenticated user.",
            "schema": {
              "$ref": "#/components/schemas/Uuid"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Uuid"
            }
          },
          {
            "name": "local_instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Uuid"
            }
          },
          {
            "name": "machine_id",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Uuid"
            }
          },
          {
            "name": "exclusion_policy_digest",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{64}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exact authenticated canonical workspace binding",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceBinding"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "workspace_sync:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/workspaces/{id}/sync-sessions": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Opaque public workspace identifier. It is not a WorkspaceBinding identifier.",
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "post": {
        "operationId": "workspaces.sync.begin",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceSyncBegin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace sync session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceSyncSessionEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/WorkspaceSyncProblem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "workspace_sync:write"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/workspace-sync/{id}/manifests": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Opaque SyncAttempt identifier. It is not a workspace, WorkspaceBinding, or Machine identifier.",
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "post": {
        "operationId": "workspaces.sync.negotiate",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceSyncManifestPage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Manifest page receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceSyncManifestEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/WorkspaceSyncProblem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "workspace_sync:write"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/workspace-sync/{id}/chunks/{digest}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Opaque SyncAttempt identifier. It is not a workspace, WorkspaceBinding, or Machine identifier.",
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        },
        {
          "name": "digest",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          }
        }
      ],
      "get": {
        "operationId": "workspaces.sync.chunkDownload",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "parameters": [
          {
            "name": "reader_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Digest-verified workspace chunk content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceSyncChunkContentEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/WorkspaceSyncProblem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "workspace_sync:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      },
      "put": {
        "operationId": "workspaces.sync.chunk",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "contentEncoding": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chunk receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceSyncChunkEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/WorkspaceSyncProblem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "workspace_sync:write"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/workspace-sync/{id}/commit": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Opaque SyncAttempt identifier. It is not a workspace, WorkspaceBinding, or Machine identifier.",
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "post": {
        "operationId": "workspaces.sync.commit",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceSyncCommit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Commit receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceSyncCommitEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/WorkspaceSyncProblem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "workspace_sync:write"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/workspace-sync/{id}/changes": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Opaque SyncAttempt identifier. It is not a workspace, WorkspaceBinding, or Machine identifier.",
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "get": {
        "operationId": "workspaces.sync.changes",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "reader_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ordered change page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceSyncChangeEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/WorkspaceSyncProblem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "workspace_sync:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/workspaces/{id}/reconcile": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Opaque public workspace identifier. It is not a WorkspaceBinding identifier.",
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "post": {
        "operationId": "workspaces.sync.reconcile",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceSyncReconcile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reconciliation receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceSyncReconcileEnvelope"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/WorkspaceSyncProblem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "workspace_sync:write"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/machine-creates/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "get": {
        "operationId": "machineCreates.get",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "responses": {
          "200": {
            "description": "Non-secret machine create request state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineCreateRequest"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "machines:read"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    },
    "/v1/machine-creates/{id}/reconcile": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "post": {
        "operationId": "machineCreates.reconcile",
        "x-sdk-exposed": true,
        "x-runa-error-model": "problem",
        "responses": {
          "200": {
            "description": "Exact-name reconciliation state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineCreateRequest"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-runa-auth-classes": [
          "browser_jwt",
          "programmatic_api_key",
          "cli_human"
        ],
        "x-runa-required-permissions": [
          "machines:create"
        ],
        "security": [
          {
            "SupabaseJwt": []
          },
          {
            "RunaApiKey": []
          },
          {
            "RunaHumanBearer": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "SupabaseJwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Supabase JWT",
        "description": "Console user JWT."
      },
      "RunaApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "runa_sk_",
        "description": "Programmatic Cuna API key. Not valid for key-management operations."
      },
      "RunaHumanBearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "runa_at_",
        "description": "Short-lived opaque Cuna CLI human access token."
      }
    },
    "parameters": {
      "SessionId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/Uuid"
        }
      },
      "AgentSessionId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Opaque AgentSession identifier; never interchangeable with a Machine ID.",
        "schema": {
          "$ref": "#/components/schemas/Uuid"
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "Caller-stable retry identity. The plaintext value is never persisted.",
        "schema": {
          "type": "string",
          "minLength": 8,
          "maxLength": 128,
          "pattern": "^[!-~]+$"
        }
      },
      "MachineCreateRequestId": {
        "name": "X-Cuna-Machine-Create-Request-Id",
        "in": "header",
        "required": false,
        "description": "Optional caller-generated UUID that identifies the durable machine-create request. New clients send it before the first attempt and reuse it to inspect or reconcile an uncertain outcome after a lost response.",
        "schema": {
          "$ref": "#/components/schemas/Uuid"
        }
      },
      "CliContinuationId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/Uuid"
        }
      },
      "CliContinuationSecret": {
        "name": "X-Runa-Continuation",
        "in": "header",
        "required": true,
        "description": "Opaque one-time continuation secret; plaintext is never persisted.",
        "schema": {
          "type": "string",
          "pattern": "^runa_ct_[A-Za-z0-9_-]{43}$"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Safe error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Problem": {
        "description": "Typed safe problem for additive operations",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "WorkspaceSyncProblem": {
        "description": "Closed workspace-sync problem. Negotiation metadata is present only when a protocol was selected.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          },
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/WorkspaceSyncProblem"
            }
          }
        }
      },
      "Ok": {
        "description": "Acknowledgement",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Ok"
            }
          }
        }
      },
      "Session": {
        "description": "Session observation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Session"
            }
          }
        }
      },
      "Json": {
        "description": "UTF-8 JSON response",
        "content": {
          "application/json": {
            "schema": {}
          }
        }
      }
    },
    "schemas": {
      "Uuid": {
        "type": "string",
        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      },
      "RuntimeUrl": {
        "type": "string",
        "description": "Cuna producers emit only cunacode.cloud. Consumers temporarily accept the exact runacode.cloud predecessor during the 1.7 expand phase.",
        "oneOf": [
          {
            "title": "Canonical Cuna runtime URL",
            "pattern": "^https://[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\\.cunacode\\.cloud$"
          },
          {
            "title": "Deprecated legacy runtime URL",
            "deprecated": true,
            "pattern": "^https://[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\\.runacode\\.cloud$"
          }
        ]
      },
      "OutboundPolicy": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "mode",
          "hosts"
        ],
        "properties": {
          "mode": {
            "enum": [
              "allowlist",
              "denylist"
            ]
          },
          "hosts": {
            "type": "array",
            "maxItems": 128,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "minLength": 3,
              "maxLength": 253,
              "pattern": "^(?:\\*\\.)?(?![0-9]{1,3}(?:\\.[0-9]{1,3}){3}$)[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?(?:\\.[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?)+$"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "Problem": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "title",
          "status",
          "code",
          "request_id",
          "retryable"
        ],
        "properties": {
          "type": {
            "type": "string",
            "pattern": "^https://api\\.runacode\\.io/problems/[a-z][a-z0-9_]{2,63}$"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "status": {
            "type": "integer",
            "minimum": 400,
            "maximum": 599
          },
          "code": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]{2,63}$"
          },
          "request_id": {
            "$ref": "#/components/schemas/Uuid"
          },
          "retryable": {
            "type": "boolean"
          },
          "detail": {
            "type": "string",
            "maxLength": 500
          },
          "action": {
            "enum": [
              "retry",
              "sign_in",
              "open_web",
              "contact_support",
              "none"
            ]
          }
        }
      },
      "WorkspaceSyncProblem": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "title",
          "status",
          "code",
          "request_id",
          "retryable",
          "action",
          "selected_protocol",
          "capabilities",
          "detail"
        ],
        "properties": {
          "type": {
            "type": "string",
            "pattern": "^https://api\\.runacode\\.io/problems/workspace_sync_[a-z0-9_]{2,48}$"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "status": {
            "type": "integer",
            "minimum": 400,
            "maximum": 599
          },
          "code": {
            "type": "string",
            "pattern": "^workspace_sync_[a-z0-9_]{2,48}$"
          },
          "request_id": {
            "$ref": "#/components/schemas/Uuid"
          },
          "retryable": {
            "type": "boolean"
          },
          "action": {
            "enum": [
              "retry",
              "none"
            ]
          },
          "selected_protocol": {
            "type": [
              "integer",
              "null"
            ],
            "enum": [
              1,
              2,
              null
            ]
          },
          "capabilities": {
            "type": "array",
            "maxItems": 6,
            "uniqueItems": true,
            "items": {
              "enum": [
                "atomic_generation_commit",
                "bounded_manifest_pages",
                "content_digest_verification",
                "explicit_reconciliation",
                "ordered_generation_changes",
                "policy_bound_admission"
              ]
            }
          },
          "detail": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          }
        },
        "allOf": [
          {
            "if": {
              "properties": {
                "selected_protocol": {
                  "type": "null"
                }
              }
            },
            "then": {
              "properties": {
                "capabilities": {
                  "maxItems": 0
                }
              }
            },
            "else": {
              "properties": {
                "capabilities": {
                  "minItems": 6,
                  "maxItems": 6
                }
              }
            }
          }
        ]
      },
      "Capability": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "availability",
          "surfaces",
          "interaction",
          "mutation_class",
          "required_permissions"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]*(?:\\.[a-z][a-z0-9_]*)+$"
          },
          "availability": {
            "enum": [
              "supported",
              "unsupported",
              "temporarily_unavailable",
              "unknown"
            ]
          },
          "surfaces": {
            "type": "array",
            "minItems": 1,
            "maxItems": 3,
            "uniqueItems": true,
            "items": {
              "enum": [
                "cli",
                "web",
                "sdk"
              ]
            }
          },
          "interaction": {
            "enum": [
              "native",
              "read_only",
              "browser_handoff"
            ]
          },
          "mutation_class": {
            "enum": [
              "none",
              "reversible",
              "destructive",
              "secret_revealing",
              "financial"
            ]
          },
          "required_permissions": {
            "type": "array",
            "maxItems": 16,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "pattern": "^[a-z][a-z0-9_]*(?::[a-z][a-z0-9_]*)+$"
            }
          },
          "reason_code": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]{2,63}$"
          }
        }
      },
      "CapabilitySnapshot": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "schema_version",
          "subject_scope",
          "observed_at",
          "expires_at",
          "etag",
          "capabilities"
        ],
        "properties": {
          "schema_version": {
            "const": "1.0"
          },
          "subject_scope": {
            "enum": [
              "account",
              "machine",
              "agent_session"
            ]
          },
          "subject_id": {
            "$ref": "#/components/schemas/Uuid"
          },
          "observed_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "etag": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$"
          },
          "capabilities": {
            "type": "array",
            "maxItems": 128,
            "items": {
              "$ref": "#/components/schemas/Capability"
            }
          }
        }
      },
      "CliSignupCapability": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "enabled",
          "enrollment",
          "identity_methods"
        ],
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "enrollment": {
            "const": "waitlist_only"
          },
          "identity_methods": {
            "type": "array",
            "minItems": 0,
            "maxItems": 2,
            "uniqueItems": true,
            "items": {
              "enum": [
                "email_password",
                "oauth"
              ]
            }
          },
          "reason_code": {
            "enum": [
              "remote_signup_abuse_controls_unverified"
            ]
          }
        }
      },
      "CliContinuationCreate": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "state",
          "code_challenge",
          "redirect_uri",
          "client_instance_id",
          "profile",
          "intent_class"
        ],
        "properties": {
          "state": {
            "type": "string",
            "minLength": 32,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "code_challenge": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]{43}$"
          },
          "redirect_uri": {
            "type": "string",
            "pattern": "^http://(?:127\\.0\\.0\\.1|\\[::1\\]):(?:[1-9][0-9]{0,3}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])/callback$",
            "description": "Exact loopback URI bound into the S256 exchange proof. The producer does not redirect to it; completion is polled."
          },
          "client_instance_id": {
            "$ref": "#/components/schemas/Uuid"
          },
          "profile": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "intent_class": {
            "enum": [
              "signup",
              "login",
              "account.read",
              "machines.read",
              "machines.create",
              "agent_sessions.read",
              "agent_sessions.create"
            ]
          }
        }
      },
      "CliContinuationIssued": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "continuation_secret",
          "browser_url",
          "expires_at",
          "poll_after_ms",
          "completion_mode"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Uuid"
          },
          "continuation_secret": {
            "type": "string",
            "pattern": "^runa_ct_[A-Za-z0-9_-]{43}$"
          },
          "browser_url": {
            "type": "string",
            "pattern": "^https://app\\.getcuna\\.com/cli/continue#[^?#]+$"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "poll_after_ms": {
            "type": "integer",
            "minimum": 2000
          },
          "completion_mode": {
            "const": "poll",
            "description": "Poll the continuation status endpoint; no loopback HTTP callback is emitted."
          }
        }
      },
      "CliIdentityContext": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "required_terms_version",
          "identity",
          "admission",
          "workspace"
        ],
        "properties": {
          "identity": {
            "enum": [
              "unknown",
              "signup_required",
              "verification_required",
              "active",
              "disabled"
            ]
          },
          "admission": {
            "enum": [
              "not_requested",
              "waitlisted",
              "admitted"
            ]
          },
          "workspace": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "state"
            ],
            "properties": {
              "state": {
                "enum": [
                  "assigned",
                  "unavailable"
                ]
              },
              "id": {
                "$ref": "#/components/schemas/Uuid"
              }
            }
          },
          "waitlist_position": {
            "type": "integer",
            "minimum": 0
          },
          "required_terms_version": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "description": "Authoritative currently required terms version."
          }
        }
      },
      "CliContinuationStatus": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "phase",
          "expires_at",
          "required_terms_version"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Uuid"
          },
          "phase": {
            "enum": [
              "issued",
              "completed",
              "cancelled",
              "consumed",
              "expired"
            ]
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "poll_after_ms": {
            "type": "integer",
            "minimum": 2000
          },
          "context": {
            "$ref": "#/components/schemas/CliIdentityContext"
          },
          "required_terms_version": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "description": "Authoritative terms version the browser must accept before completion."
          }
        }
      },
      "CliContinuationComplete": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "browser_nonce",
          "state",
          "accepted_terms_version"
        ],
        "properties": {
          "browser_nonce": {
            "type": "string",
            "pattern": "^(?:cuna|runa)_cb_[A-Za-z0-9_-]{43}$"
          },
          "state": {
            "type": "string",
            "minLength": 32,
            "maxLength": 128
          },
          "accepted_terms_version": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          }
        }
      },
      "CliContinuationExchange": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "continuation_secret",
          "state",
          "code_verifier",
          "redirect_uri"
        ],
        "properties": {
          "continuation_secret": {
            "type": "string",
            "pattern": "^runa_ct_[A-Za-z0-9_-]{43}$"
          },
          "state": {
            "type": "string",
            "minLength": 32,
            "maxLength": 128
          },
          "code_verifier": {
            "type": "string",
            "minLength": 43,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9._~-]+$"
          },
          "redirect_uri": {
            "type": "string",
            "pattern": "^http://(?:127\\.0\\.0\\.1|\\[::1\\]):(?:[1-9][0-9]{0,3}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])/callback$",
            "description": "Exact loopback URI bound into the S256 exchange proof. The producer does not redirect to it; completion is polled."
          }
        }
      },
      "CliRefreshRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "refresh_token",
          "client_instance_id",
          "profile"
        ],
        "properties": {
          "refresh_token": {
            "type": "string",
            "pattern": "^runa_rt_[A-Za-z0-9_-]{43}$"
          },
          "client_instance_id": {
            "$ref": "#/components/schemas/Uuid"
          },
          "profile": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          }
        }
      },
      "CliTokenSet": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "access_token",
          "refresh_token",
          "token_type",
          "expires_in",
          "access_expires_at",
          "refresh_expires_at",
          "session_id",
          "context"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "pattern": "^runa_at_[A-Za-z0-9_-]{43}$"
          },
          "refresh_token": {
            "type": "string",
            "pattern": "^runa_rt_[A-Za-z0-9_-]{43}$"
          },
          "token_type": {
            "const": "Bearer"
          },
          "expires_in": {
            "const": 600
          },
          "access_expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "refresh_expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "session_id": {
            "$ref": "#/components/schemas/Uuid"
          },
          "context": {
            "$ref": "#/components/schemas/CliIdentityContext"
          }
        }
      },
      "AgentAuth": {
        "type": "object",
        "additionalProperties": false,
        "description": "Deprecated machine-scoped authentication state returned by `sessions.agentAuth`. It carries no process generation and is preserved only for already-released SDKs.",
        "required": [
          "agent",
          "method",
          "state"
        ],
        "properties": {
          "agent": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "claude-code",
              "codex",
              "openclaw",
              null
            ]
          },
          "method": {
            "enum": [
              "none",
              "interactive_login",
              "api_key"
            ]
          },
          "state": {
            "enum": [
              "not_applicable",
              "installing",
              "login_required",
              "authenticated",
              "configured",
              "unavailable"
            ]
          }
        },
        "oneOf": [
          {
            "properties": {
              "method": {
                "const": "none"
              },
              "state": {
                "const": "not_applicable"
              }
            }
          },
          {
            "properties": {
              "method": {
                "const": "interactive_login"
              },
              "state": {
                "enum": [
                  "installing",
                  "login_required",
                  "authenticated",
                  "unavailable"
                ]
              }
            }
          },
          {
            "properties": {
              "method": {
                "const": "api_key"
              },
              "state": {
                "enum": [
                  "installing",
                  "configured",
                  "unavailable"
                ]
              }
            }
          }
        ]
      },
      "AgentSessionAuth": {
        "type": "object",
        "additionalProperties": false,
        "description": "Short-lived, process-generation-bound authentication evidence. Consumers must reject observations after valid_until and must match agent_session_id, process_epoch, and auth_mode to the AgentSession they already admitted.",
        "x-runa-semantic-invariants": [
          "positive_valid_until_after_observed_at",
          "positive_valid_until_not_after_runtime_lease",
          "unavailable_valid_until_equals_observed_at",
          "consumer_exact_agent_session_epoch_mode_match"
        ],
        "oneOf": [
          {
            "properties": {
              "auth_mode": {
                "const": "interactive_login"
              },
              "process_epoch": {
                "$ref": "#/components/schemas/Uuid"
              },
              "agent_version": {
                "type": "string",
                "pattern": "^[0-9]+\\.[0-9]+\\.[0-9]+$"
              },
              "evidence_class": {
                "const": "provider_cli_login_status"
              },
              "state": {
                "enum": [
                  "login_required",
                  "authenticated"
                ]
              }
            }
          },
          {
            "properties": {
              "auth_mode": {
                "const": "credential_binding"
              },
              "process_epoch": {
                "$ref": "#/components/schemas/Uuid"
              },
              "agent_version": {
                "type": "string",
                "pattern": "^[0-9]+\\.[0-9]+\\.[0-9]+$"
              },
              "evidence_class": {
                "const": "credential_binding_authority"
              },
              "state": {
                "const": "configured"
              }
            }
          },
          {
            "properties": {
              "evidence_class": {
                "const": "insufficient"
              },
              "state": {
                "const": "unavailable"
              }
            }
          }
        ],
        "required": [
          "observation_id",
          "agent_session_id",
          "process_epoch",
          "auth_mode",
          "agent_version",
          "adapter_version",
          "evidence_class",
          "observed_at",
          "valid_until",
          "state"
        ],
        "properties": {
          "observation_id": {
            "$ref": "#/components/schemas/Uuid"
          },
          "agent_session_id": {
            "$ref": "#/components/schemas/Uuid"
          },
          "process_epoch": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Uuid"
              },
              {
                "type": "null"
              }
            ]
          },
          "auth_mode": {
            "enum": [
              "interactive_login",
              "credential_binding"
            ]
          },
          "agent_version": {
            "type": "string",
            "pattern": "^(?:[0-9]+\\.[0-9]+\\.[0-9]+|unavailable)$"
          },
          "adapter_version": {
            "const": "runa.agent-auth.v1"
          },
          "evidence_class": {
            "enum": [
              "provider_cli_login_status",
              "credential_binding_authority",
              "insufficient"
            ]
          },
          "observed_at": {
            "type": "string",
            "format": "date-time"
          },
          "valid_until": {
            "type": "string",
            "format": "date-time"
          },
          "state": {
            "enum": [
              "login_required",
              "authenticated",
              "configured",
              "unavailable"
            ]
          }
        }
      },
      "AgentSessionAuthLogout": {
        "type": "object",
        "additionalProperties": false,
        "description": "Exact process-generation confirmation for an AgentSession-scoped provider sign-out.",
        "required": [
          "observation_id",
[...]
